In [1]:
from utils.OddsData import *
from utils.Features import *
import numpy as np
import pandas as pd

In [4]:
data_df = read_odds(countries='all')
data_df = drop_duplicates(data_df)
data_df = remove_nan_vals(data_df)
data_df = drop_bookies(data_df)
data_df = drop_date_time(data_df)
data_df = transform_odds_to_probs(data_df)
# data_df = data_df.drop(['Country'], axis=1)
data_df

,country,league,h_team,a_team,date,time,fthg,ftag,ht1hg,ht1ag,ht2hg,ht2ag,ho_pinnacle,do_pinnacle,ao_pinnacle,hc_pinnacle,dc_pinnacle,ac_pinnacle
0,germany,3-liga,Hallescher,Wehen,2012-09-25,18:00:00,1,1,0,0,1,1,2.37,3.17,3.36,2.17,3.22,3.86
1,england,national-league,Tamworth,Luton,2012-09-25,19:45:00,1,2,1,0,0,2,4.38,3.76,1.86,3.81,3.63,2.00
2,england,national-league,Lincoln,Nuneaton,2012-09-25,19:45:00,2,1,0,1,2,0,2.09,3.63,3.62,2.18,3.56,3.37
3,england,national-league,Grimsby,Gateshead,2012-09-25,19:45:00,3,0,2,0,1,0,1.86,3.72,4.45,1.87,3.74,4.29
4,england,national-league,Hereford,ForestGreen,2012-09-25,19:45:00,1,2,1,2,0,0,2.68,3.45,2.73,2.79,3.28,2.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70414,england,premier-league,AstonVilla,Wolves,2023-01-04,20:00:00,1,1,0,1,1,0,2.26,3.54,3.03,1.95,3.58,4.32
70415,england,premier-league,CrystalPalace,Tottenham,2023-01-04,20:00:00,0,4,0,0,0,4,3.48,3.59,2.19,3.32,3.47,2.31
70416,england,premier-league,Leeds,WestHam,2023-01-04,19:45:00,2,2,1,1,1,1,2.50,3.65,2.62,2.93,3.45,2.56
70417,italy,serie-a,Sassuolo,Sampdoria,2023-01-04,11:30:00,1,2,0,2,1,0,1.74,4.20,4.74,1.75,3.95,5.05
70418,england,premier-league,Southampton,Nottingham,2023-01-04,19:30:00,0,1,0,1,0,0,1.97,3.77,3.98,2.43,3.37,3.19